name: Hugo Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy Hugo Website
    runs-on: ubuntu-18.04

    env:
      gh_user: "rusito-23"
      gh_email: "i.andruskiewitsch23@gmail.com"
      gh_name: "Igor Andruskiewitsch"
      gh_deploy_token: ${{ secrets.GH_DEPLOY_TOKEN }}
      gh_branch: main

    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Update theme
        run: git submodule update --init --recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.82.0"

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{env.gh_deploy_token}}
          external_repository: ${{env.gh_user}}/${{env.gh_user}}.github.io
          publish_dir: ./public
          user_name: ${{env.gh_name}}
          user_email: ${{env.gh_email}}
          publish_branch: ${{env.gh_branch}}
